@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


/* //font-family: 'Share Tech Mono', monospace;// */


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}

/* ------------------------------------HEADER-NAV------------------------------------ */

body
{
    background-image: url(https://i.ibb.co/5n6zVTt/GER-4352.jpg);
}
.container
{
    max-width: 1366px;
    margin: 0 auto;
}

.header
{
    display: flex;
    height: 3rem;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(88, 88, 88);
}

.header__logo
{
    height: 30px;
    width: 30px;
    margin-left: 30px;
}

.header__nav
{
    list-style-type: none;
    z-index: 2;
}

.header__nav li
{
    display: inline-block;
    margin-right: 8rem;
    
}

.header__nav li a
{
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
}

.header__nav li a:hover
{
    font-size: 105%;
    color: red;
}


/* ------------------------------------HERO------------------------------------ */

.hero
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 40px - 62px); 
    color: whitesmoke;
    padding-top: 60px;
}

.hero__img
{
    margin-top: 100px;
    height: 500px;
    width: 500px;
    opacity: 70%;
}

/* -----------------SOBRE_NOSOTROS----------------- */
 
 .hero__sobrenosotros
{
    margin-top: 50px;
    width: 100%;
    line-height: 2rem;
} 

.hero__titulos
{
    width: 100%;
    margin-top: 50px;
    font-size: x-large;
    color: whitesmoke;
    text-align: center;
}

.hero__textos
{
    background-color: rgba(0, 0, 0, 0.767);
    font-size: x-large;
    margin: 50PX 0;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2rem;
}

.hero__list
{
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    list-style-type: none;
    /* font-size: large; */
    gap: 6rem;
}

/* -----------------ESCUCHANOS----------------- */

.hero__spotify
{
    margin: 80px;
    width: 600px;
}



/* -----------------FOTOS----------------- */

.hero__fotos
{
    padding-top: 50PX;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.hero__foto
{
    max-height: 700px;
    border: solid rgba(197, 0, 26, 0.678) 2px;
}


/* -----------------CONOCENOS----------------- */


.boton
{
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    background-color: black;
}

.boton:hover
{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.685);
    background-color: rgba(189, 0, 0, 0.815);
}

/* ------------------------------------FOOTER------------------------------------ */

.footer
{
    margin-top: 100px;
    display: flex;
    border-top: 2px solid rgba(255, 255, 255, 0.575);
    background-color: rgba(0, 0, 0, 0.637);
    justify-content: space-around;
}

.footer__img
{
    width: 40px;
    height: 40px;
    margin: 0.5rem 7rem;
}
