/* style="text-decoration: none; color: whitesmoke;" */

/* font-family: 'Share Tech Mono', monospace; */
*
{
    margin: 0;
    padding: 0;
    font-family: 'Share Tech Mono', monospace;
    
}
#imgcentrada
{
    height: 500px;
    width: 500px;
    margin: auto;
    display: block;
    padding: 120px;
    opacity: 80%;
}

#spotify
{
    margin-top: 100px;
    display: block;
    position: relative;
    align-items: center;
    padding-left: 400px;
    padding-bottom: 100px;
}
body
{
    background-image: url(https://i.ibb.co/5n6zVTt/GER-4352.jpg);
}

header img
{
    
    padding: 10px 20px;
    position: relative;
    height: 30px;
    width: 30px;
    z-index: 2;
}
.navbar
{   
    background-color: black;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 100px;
    justify-content: space-between;
    z-index: 1;
}
div ul
{
    position: relative;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    
}
div ul li
{
    text-decoration: none;
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
}

div ul li a
{
    text-decoration: none;
    margin: 0 15px;
    color: whitesmoke;
}

div h1
{
    padding-top: 100px;
    padding-bottom: 20px;
    color: whitesmoke;
}
div h2
{
    padding-top: 100px;
    font-size: xx-large;
    padding-bottom: 20px;
}
div h6
{
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 50px;
    padding-bottom: 20px;
    color: whitesmoke;
    font-size: large;
}
.letrablanca
{
    color: whitesmoke;
    position: relative;
    display: block;
    text-align: center;
}

section ul li
{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    color: whitesmoke;
    font-size: large;
}
