@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


/* //font-family: 'Share Tech Mono', monospace;// */


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}

/* ------------------------------------HEADER-NAV------------------------------------ */

body
{
    background-image: url(https://i.ibb.co/5n6zVTt/GER-4352.jpg);
}
.container
{
    max-width: 1366px;
    margin: 0 auto;
}

.header
{
    
    display: flex;
    height: 3rem;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.header__logo
{
    height: 30px;
    width: 30px;
    margin-left: 30px;
}

.header__nav
{
    list-style-type: none;
}

.header__nav li
{
    display: inline-block;
    margin-right: 8rem;
    
}

.header__nav li a
{
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
}

.header__nav li a:hover
{
    font-size: 105%;
    color: red;
}


/* ------------------------------------HERO------------------------------------ */

.hero
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100% - 40px -62px);
    color: whitesmoke;
}

.hero__img
{
    margin-top: 100px;
    height: 500px;
    width: 500px;
    opacity: 70%;
}

/* -----------------SobreNosotros----------------- */
 
 .hero__sobrenosotros
{
    margin-top: 50px;
    width: 100%;
    line-height: 2rem;
} 

.hero__titulos
{
    margin-top: 100px;
    font-size: x-large;
}

.hero__textos
{
    background-color: rgba(0, 0, 0, 0.767);
    font-size: x-large;
    margin: 50PX 0;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2rem;
}

.hero__list
{
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    list-style-type: none;
    font-size: large;
    gap: 6rem;
}

/* ------------------------------------FOOTER------------------------------------ */

.footer
{
    margin-top: 100px;
    display: flex;
    border-top: 2px solid rgba(255, 255, 255, 0.575);
    background-color: rgba(0, 0, 0, 0.637);
    justify-content: space-around;
}

.footer__img
{
    width: 40px;
    height: 40px;
    margin: 0.5rem 7rem;
}



/* 


#spotify
{
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 500px;
}

#formulario
{
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

}

.imgvertical
{
    width:450px;
    height:700px;
}
.imghorizontal
{
    width:700px;
    height:450px;
}


.alineadoalmedio
{
    width: 100%;
    background-color: black !important;
    align-items: center;
    top: 0;
    left: 0;
    padding: 5px 100px;
    justify-content: space-between;
    z-index: 1;
}


div h1
{
    padding-top: 100px;
    padding-bottom: 20px;
    color: whitesmoke;
}
div h2
{
    padding-top: 100px;
    font-size: xx-large;
    padding-bottom: 20px;
}
div h4
{
    padding: 50px;
}
div h6
{
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 50px;
    padding-bottom: 20px;
    color: whitesmoke;
    font-size: large;
}
.letrablanca
{
    color: whitesmoke;
    position: relative;
    text-align: center;
}

section ul li
{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    color: whitesmoke;
    font-size: large;
}

.footerimg
{
    
    
    padding-top: 5px;
    padding-left: 140px;
    padding-right: 140px;
    display: inline-block;
    width: 40px;
    height: 40px;

}
.footerestructura
{
    width: 100%;
    align-self: flex-end;
    position: relative;
    background-color: rgba(0, 0, 0, 0.705);
    align-items:center;
    left: 0;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
} */
